#main {
    display: flex;
}
.div {
    background-color: #fff;
    padding: 30px;
    height: fit-content;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    max-width: 35vw;
    border-left: 4px solid #04AA6D;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#auth {
   display: inline-block;
}
input {
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 3px;
    margin: 4px;
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
input:focus {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
button {
    margin: 4px;
    padding: 10px;
    border: none;
}
button:hover {
    text-decoration: underline;
}
small {
    color: #888;
    font-size: smaller;
    font-family: 'Open Sans', sans-serif;

}
span {
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    cursor: pointer;
}
span:hover {
    color: #000;
    text-decoration: underline;
}
#create {
 display: none; 
}
#code-div {
    display: none;
}
#reset {

    display:none;
    border-top: 4px solid #04AA6D;
    border-left: none;
}
#reset p {
    text-align: center;
    font-size: x-large;
}
#reset button {
    margin: 4px;
    padding: 10px;
    border: none;
}
#reset button:hover {
    text-decoration: underline;
}
#reset small {
    color: #888;
    font-size: smaller;
    font-family: 'Open Sans', sans-serif;

}

mark {
    display: none;
    padding: 5px;
    color: #fff;
    font-size: smaller;
    background-color: #e92441;
    margin: 3px;
    margin-bottom: 7px;
    border-radius: 4px;
}
#prompt i {
    color: #f6f6f6;
}
#back {
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;
}
#back:hover {
    background-color: #f6f6f6;
}
@media only screen and (max-width:800px) {
.div {
    max-width: 90vw;
}

    }