/* HEADER */
header {

}
#head {
    padding: 20px;
    background-image: url('../images/teacher.png');
    background-repeat: no-repeat;
    background-size: 70vh;
    background-position: top right;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 90%;
    height: 70vh;
    
}
#head h1 span {
    padding: 5px;
    margin-left: 0px;
    display: inline-block;
  position: relative;
  border-radius: 5px;
  background-color: #9bffb0a6;
  color: #04AA6D;
}
#head h1 {
    font-size: 4em;
}
#head p {
    color: #2e2e2e;
    max-width: 35vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 85%;
}
#head a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: #0C74FC;
    border-radius: 5px;

}
#head a:hover {
    background-color: #2667bc;
}



/* REVIEWS */

#reviews {
    display: block;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#reviews h5 {
    font-family: 'Open Sans', sans-serif;
}
#reviews i {
    margin: 3px;
    color:#FFD700;
}
#reviews a {
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    color: #197BFF;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: background-color 0.1s;
}
#reviews a:hover {
    background-color: #F6F8FA;
    color: #000;
}
#review-no {
    color: #888;
    font-size: 75%;
}

/* ABOUT */

#about {
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
#about h5 {
    padding: 20px;
}
#about div {
    background-color: #282A35;
    padding: 10px;
    margin-bottom: 8px;
    color: #fff;
}
#about p {
    font-family: 'Open Sans', sans-serif;
}
.item {
    display: inline;
    text-align: left;
    line-height: 14px;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
}
.item p {
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}
.avatar {
    border-radius: 8px;
    width: 10em;
    border: 2px solid #fff;
}

/* CONTACT */

#contact {
    padding: 10px;
    border-radius: 3px;
    display: flex;
}
#contact div {
    margin: 5px;
    display: block;
}
address {
    font-family: 'Open Sans', sans-serif;
}

/* MISC */

section {
    padding: 10px;
}

iframe {
    padding: 3;
    margin: 0;
    border-radius: 5px;
    margin: 5px;
    width: 350px;
    height: 350px;
}

h5 {
    font-family: 'Manrope', sans-serif;
}
mark {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: #e92441;
    margin: 7px;
    max-width: 35vw;
    border-radius: 4px;
}

/* */
#opt button {
    border: none;
    background-color: #363838;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 6px;
    color: #fff;
}

@media only screen and (max-width:800px) {
    #head { 
        background-size: 50vw;
        background-position:right;
        margin-right: 5px;
        margin-left: 5px;
    }
    #head h1 {
        font-size: 3em;
    }
    #head p {
        max-width: 50vw;
        font-size: smaller;
    }
    .avatar {
        width: 8em;
    }
    #contact {
        margin: 0;
        padding: 4px;
    }
    #about {
        margin: 0;
    }
    #about p {
        font-size: smaller;
    }
    #contact {
        display: block;
    }
    mark {
        max-width: 100%;
    }
    }