/* HEADING */

h1 {
    padding: 0px;
    margin-left: 15px;
    display: inline-block;
  position: relative;
}
h1:after {
    content: " ";
    left: 0;
    right: 0;
    position: absolute;
    bottom: 1px;
    height: 25%;
    background-color: #9bffb0a6;
    z-index: -1;
    border-radius: 2px;
    color: black;
  }

  /* ADDRESS */

#address {
    padding: 13px;
}
#address a {
    color: #000;
    text-decoration: none;
}
#address a:hover {
    text-decoration: underline;
}

/* ALERT */

#alert {
    color: #fff;
    display: block;
    padding: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 14px;
    border-radius: 5px;
    background-color: #282A35;

}

/* MAIN CONTENT */

#main {
    display: flex;
    padding: 10px;
}
#content{
    /* height: 85vh; */
    flex-grow: 20;
    padding: 7px;
}
#chp-list {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#sidebar {
    flex-grow: 4;
    max-width: 17vw;
}
#side-nav {
    padding: 16px;
    margin: 9px;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: max-content;
    flex-grow: 4;
}
#side-nav ul {
    display: inline;
}
#side-nav a {
    border: none;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    display: block;
    cursor: pointer;
    position: relative;
    padding: 8px;
    border-radius: 2px;
}
#side-nav a:hover {
    color: #000;
    background-color: #EBEBEB;
}
#side-alert {
    padding: 16px;
    margin: 9px;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: 'Open Sans', sans-serif;
    height: max-content;
}


/* LIST */
ul {
    list-style: none;
    margin: 10px;
    padding: 10px;

}
ul li{
    margin: 4px;
}

ul li span {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    padding: 8px;
    cursor: pointer;
    margin: 12px;
    border: 1px solid #888;
    border-radius: 2px;
}
ul span:hover {
    /* text-decoration: underline; */
    color: #000;
    background-color: #EBEBEB;
}

#content a {
    margin-top: 12px;
}

/* IFRAME */

#iframe-div {
    display: none;
    height: 85vh;
}
#iframe-nav button {
border: none;
padding: 10px;
background-color: #f8f8f8;
margin: 5px;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#iframe-nav button:hover {
    text-decoration: underline;
}
#iframe-nav i {
    color: #1b211ca6;
}
#viewer {
    width:95vw;
    height: 75vh;
}
#download {
    color: #000;
    text-decoration: none;
}


  /* MISC */

  section {
    margin:7px;
}

.combined:before {
    content:"Combined";
    margin-top:-20px;
    padding: 0;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    color:#282828;
    display: block;
    background-color: #fff;
    position: absolute;
    top:-10;
}
.combined:hover::before {
    background-color: none;
}
#name {
    margin: auto;
}
#address i {
    color: #686868;
    font-size: smaller;
    margin: 2px;
}

@media only screen and (max-width:800px) {
    #main {
        display: block;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    #sidebar {
        max-width: 100%;
    }
    #viewer {
        width: 90vw;
    }
    }