

  /* ADDRESS */

#address {
    padding: 13px;
}
#address a {
    color: #000;
    text-decoration: none;
}
#address a:hover {
    text-decoration: underline;
}

/* ALERT */

#alert {
    color: #000;
    display: block;
    padding: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 14px;
    border-radius: 5px;
    background-color: #FFFCF4;
    border: 2px solid #FDF3D7;

}

/* MAIN CONTENT */
#chp-list {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#chp-list h5 {
    text-decoration: underline;
    text-decoration-color:#04AA6D;
}

/* LIST */

ul {
    list-style: none;
    margin: 10px;
    padding: 10px;

}
ul li{
    margin: 4px;
}

ul li span {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    padding: 7px;
    cursor: pointer;
    margin: 12px;
    border: 1px solid #888;
    border-radius: 2px;
}
ul li span small {
    color: #888;
    display: block;
    font-size: smaller;
}
ul span:hover {
    /* text-decoration: underline; */
    color: #000;
    margin: 16px;
    box-shadow: 4px 4px #888;

}

#content a {
    margin-top: 12px;
}

/* IFRAME */

#iframe-div {
    display: none;
    height: 100%;
}
#iframe-nav button {
border: none;
padding: 10px;
background-color: #f8f8f8;
margin: 5px;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#iframe-nav button:hover {
    text-decoration: underline;
}
#iframe-nav i {
    color: #1b211ca6;
}
#viewer {
    width:95vw;
    height: 75vh;
    
}
#download {
    color: #000;
    text-decoration: none;
}

  /* MISC */

  section {
    margin:7px;
}

.combined:before {
    content:"Combined";
    margin-top:-20px;
    padding: 0;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    color:#282828;
    display: block;
    background-color: #fff;
    position: absolute;
    top:-10;
}
.combined:hover::before {
    background-color: none;
}
#name {
    margin: auto;
}
#address i {
    color: #686868;
    font-size: smaller;
    margin: 2px;
}

@media only screen and (max-width:800px) {

    ul {
        margin: 0;
        padding: 0;
    }
    #viewer {
        width: 90vw;
    }
    }