
#content div ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}
.item {
    font-family: 'Open Sans', sans-serif;
}
.item u {
    margin-bottom: 10px;
}
.item a {
    text-decoration: none;
    background-color: #f3f3f3;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: #000;
    border-radius: 3px;
    padding: 6px 9px;
    margin-top: 10px;
    display: inline-block;

}

#address i {
    color: #686868;
    font-size: smaller;
    margin: 2px;
}