header {
    
}
header h2 {
    font-family: 'Epilogue', sans-serif;
    margin-left: 15px;
}
header small {
    font-family: 'Open Sans', sans-serif;
    column-gap: #181818;
    margin-left: 15px;
}
form {
    padding: 14px;
    margin: 10px;
}
label {
    font-family: 'Open Sans', sans-serif;

}
input {
    padding: 6px;
    border-radius: 3px;
    border: 0.7px solid #282828;
    outline: none;
    display: block;
    width:100%;
    max-width: 30vw;
    font-family: 'Open Sans', sans-serif;

}
textarea {
    display: block;
    width:100%;
    max-width: 30vw;
    font-family: 'Open Sans', sans-serif;

}
form button {
    padding: 10px;
    margin: 6px;
    border-radius: 3px;
    border: none;
}
#support-content {
    display: flex;
}
#faq {
    margin: 25px;
    margin-right: 70px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
max-width: 30vw;
font-family: 'Open Sans', sans-serif;

}
#faq h3 {
    text-decoration: underline;
    text-decoration-color: #0c74fc;
}
#faq p {
    font-family: 'Open Sans', sans-serif;

}
@media only screen and (max-width:800px) {
    #main {
        display: block;
    }
#faq {
    max-width: 100%;
}
input, textarea {
    max-width: 90vw;
}
    }