* {
    transition: all 0.2s;
}

body {
    background-color: #fffffe;
    color: #000;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
/* NAV */
nav {
    z-index: 5;
font-family: 'Poppins', sans-serif;
display:inline-block;
padding:14px;
color: #000;
justify-items: center;

}

nav img {
width: 1.5em;
height: 1.5em;
margin-right: 3px;
}

nav div {
    margin:0;
    padding:0;
}

nav a {
    padding:6px;
    margin-right:6px;
    color: #888;
    text-decoration: none;
    border-radius: 3px;
}
nav a:hover {
color: #282828;
background-color: #f6f6f6;
}
#dropdown {
    display: inline;
    padding: 5px;
}
#dropmenu {
    display: none;
    padding: 8px;
    list-style: none;
    width: fit-content;
    border-radius: 3px;
    margin: 12px;
    position: absolute;
    right:0;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#dropdown li {
    padding: 2px;
}
#dropmenu li:hover {
    text-decoration: underline;
}


/* BRAND */
#brand {
    text-decoration: none;
    color: #000;
    padding:0px;
    font-size: x-large;
    cursor: pointer;
    } 
    #brand h4 {
        padding: 0;
    }
    #brand:hover {
        box-shadow: none;
    text-decoration: underline;
    color: #000;
    border-radius: 0px;
    }
    #login {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 4px;
    padding: 5px;
    color: #000;
    /* background-color: #f8f8f8; */
    border-radius: 3px;
    }
    #login:hover {
        background-color: #f6f6f6;
    }
    #username {
        color: #000;
    }
    #name:hover {
        text-decoration: underline;
    }
    
/* TOP BAR */
#top-bar {
    background-color: #0c74fc;
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
}
#top-bar p {
    padding: 10px;
}
#top-bar span {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: x-large;
    cursor: pointer;
}
/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 12px;
    z-index: 5;
    display: block;
    padding-left: 70px;
    font-family: 'Poppins', sans-serif;
}
footer img {
width: 1.5em;
height: 1.5em;
margin-right: 3px;
}
footer a {
    text-decoration: none;
    color: #08081B;
    padding: 7px;
    transition: background-color 0.2s;
    margin: 2px;
}
footer a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
}

/* MISC */
.active {
    color:#282A35;
    }

#prompt {
     padding: 10px;
     display: none;
     width: 90vw;
     position: absolute;
     bottom: 20px;
     margin: 15px;
     color: #fff;
     border-radius: 3px;
     font-family: 'Open Sans', sans-serif;
     border-radius: 3px;
    }
#up, #down {
        display: none;
    }
    
    i {
        margin: 4px;
    }

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media only screen and (max-width:800px) {

#login {
    display: none;
}
#nav a {
    margin-right: 3px;
}
footer {
    padding-left: 10px;
}
}